#container {
   border: black solid 1px;  
  display: flex;
  justify-content: center;   
  height: 500px;
  width: 500px;
  
}



.grid {
    width: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    
    
}

.squareDivs {
     
    background-color: lightblue;
    border-radius: .09rem;
}
