html {
  background-color: #ffffff;
  color: #bbdbf7;
}

body {

  display: flex;
}

.leftPanel {
flex: 1;
display: flex;
flex-direction: column;
justify-content:space-around;
align-items:end
}
.eraser {
  background-color: white;
  color: black;
  
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}

.rightPanel {
flex: 1
}


h1 {text-align: center;
}

.wholePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:2;
}

#container {
   border: #007fee solid 10px;  
  display: flex;
  justify-content: center;   
  height: 500px;
  width: 500px;  
  box-shadow:#bbdbf7;
  border-radius: 10px;

}

.grid {
    width: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;  
}

.squareDivs {
    background-color: #bbdbf7;
}
.menu {
  display:flex;
  width: 500px;
  justify-content: space-between;
  padding: 25px;
}
.leftMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: #00008b;
  border-radius: 10px;
  margin-right: 5px;
}
.rightMenu {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
button {
  color: #bbdbf7;
  background-color: #00008b;
  box-shadow: 5px 5px black;
  border-radius: 10px;
  width: 100px;
  height: 38px;
}

.blackGrid {

  background-color: rgb(11, 95, 151);
}

