html {
  background-image: linear-gradient(to right, rgb(116, 116, 165) , gray);
  color: #bbdbf7;
}

body {

  display: flex;
}

.leftPanel {
flex: 1;
display: flex;
flex-direction: column;
justify-content:space-around;
align-items:end;
}
.eraser {
  background-color: white;
  color: black;
  
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}

.black {
background-color: black;
}
.yellow{
background-color: yellow;
}
.rainbow {
  background-image: linear-gradient(to left, violet, indigo, blue, 
  green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;}
.rightPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:start;
}


h1 {text-align: center;
}

.wholePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:2;
}

#container {
   border: #bbdbf7 groove 5px;  
  display: flex;
  justify-content: center;   
  height: 500px;
  width: 500px;  
  
  box-shadow: 5px 5px darkgray;

}

.grid {
    width: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;  
}

.squareDivs {
    background-color: white;
    
}
.menu {
  display:flex;
  width: 500px;
  justify-content: space-between;
  padding: 25px;
}
.leftMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: #3b3bb6;
  border-radius: 10px;
  margin-right: 5px;
  box-shadow: 5px 5px black;
}
.rightMenu {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
button {
  color: #bbdbf7;
  background-color: #3b3bb6;
  box-shadow: 5px 5px black;
  border-radius: 10px;
  width: 100px;
  height: 38px;
}

.blackGrid {

  background-color: rgb(11, 95, 151);
}

